.reels-wrapper {
}

.reels-content-wrapper {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

.title {
  font-family: "Press Start 2P", sans-serif;

  color: white;
  margin-left: 1rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  text-align: center;
}

.subtitle {
  font-family: "Press Start 2P", sans-serif;

  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.section {
  margin-bottom: 3rem;
}

.section-content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.section-content video {
  border-radius: 20px;
  border: 1px solid magenta;
  box-shadow: 0 0 10px magenta;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.video-wrap {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  height: 640px;
  width: 360px;

  @media screen and (max-width: 800px) {
    height: unset;
    width: unset;
  }
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  background: white;
  border: none;
  padding: 3rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  cursor: pointer;
}

.play-button .material-symbols-outlined {
  font-size: 50px;
}

.meta {
  color: white;
  border-radius: 20px;
  padding: 1rem 1rem;
  height: fit-content;
}

.userName {
  margin-bottom: 1rem;
  margin-top: 0;
  font-family: "Press Start 2P", sans-serif;
}

.fitnessScore {
  margin-top: 0;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.meta-icon {
  font-size: 20px;
  margin-right: 0.4rem;
}
.like-button .meta-icon {
  font-size: 24px;
  margin-right: 0.2rem;
}

.likes-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: white;
  margin-bottom: 1rem;
}

.like-button {
  background: no-repeat;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.no-post {
  box-shadow: 0 0 10px magenta;
  border-radius: 20px;
  padding: 2rem;
  margin: 5rem 0;
  color: white;
  max-width: 800px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.sneak-peek {
  background: none;
  border: 1px solid cyan;
  border-radius: 20px;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 18px;

  margin-top: 2rem;
  cursor: pointer;
}

.sneak-peek.view-more {
  margin: 0 auto;
  display: block;
}

.back-to-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
}

.back-to-link .icon {
    margin-right: 0.4rem;
    font-size: 14px;
}