.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.game-wrapper {
  max-width: 360px;
  max-height: 640px;
  height: 100%;
  width: 100%;
  background: lightgreen;
  border-radius: 24px;
  position: relative;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

#canvas-export {
  transform: scaleX(-1);
  display: none;
}
