.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.game-wrapper {
  max-width: 350px;
  max-height: 700px;
  height: 100%;
  width: 100%;
  background: lightgreen;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}
