.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.game-wrapper {
  max-width: 360px;
  max-height: 640px;
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  box-shadow: magenta 0 0 35px 3px;
}

.top-bar {
  position: relative;
  top: 16px;
  z-index: 99999999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -14px;
}

.game-wrapper .score {
  font-family: "Press Start 2P", sans-serif;
  /*background-color: red;*/
  opacity: 1;
  font-size: 14px;
  color: cyan;
  text-align: center;
  margin-left: 4px
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

#canvas-export {
  transform: scaleX(-1);
  display: none;
}

.loadedItems {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.loader {
  font-family: "Press Start 2P", sans-serif;
  position: relative;
  z-index: 9999999;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 16px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border: 4px black solid;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-span {
  display: inline-block; /* Required since span is inline by default */
  animation: rotate 2s linear infinite; /* Adjust time for different rotation speed */
}

.controls {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.startButton {
  /*display: inline-flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  padding: 1.2rem 2rem;
  font-family: "Press Start 2P", sans-serif;
  width: 80%;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  /*border: 0.3rem solid transparent;*/
  border-radius: 3rem;
  border: 4px black solid;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;

  bottom: 40px;

  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);

  z-index: 9999999999;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.blob.red {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  margin-top: 7px;
}



@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
